In [2]:
import numpy as np
import pandas as pd
from scipy.optimize import minimize

In [3]:
#Parser de fichiers
df = pd.read_csv("data.txt",header=None)
M = df.values
df.head()

   0      1      2   3
0  0 -11.03 -82.33  46
1  1  -4.93 -98.05  96
2  2  81.52   2.41  49
3  3  36.82 -42.62  71
4  4 -69.86  11.88  27

In [11]:
n = 10000
m = 10*n

print(m)
Matrice_incidence = np.zeros((m,n))
for i in range(n):
    pass

100000